<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Simulador</title>
</head>
<body>
    <img src="media_files/logo.jpg" width="200">
    <strong><p>Simulador de Loteria</p></strong>
    <form method="post">
        {% csrf_token %} <!-- cross site request forgery-->
        <input type=”text” name="valor">
        <button type="submit">Gerar</button>
    </form>
    <p>----------------------</p>
        {% for i in lottery %}
           <font color="blue"> jogo {{ forloop.counter }} </font> = {% for j in i %}

                        {{ j }} &nbsp;

                {% endfor %} <br>
        {% endfor %}
</body>
</html>